.App {
  text-align: center;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background: #313131;
}

.title {
  position: fixed;
  top:5px;
  right: 20px;
  color: white;
}